<!-- off-canvas title bar for 'small' screen -->
<div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
  <div class="title-bar-left">
    <span class="title-bar-title">How 2 foundation6</span>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
  </div>
</div>

<!-- off-canvas right menu -->
<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
  <ul class="vertical dropdown menu" data-dropdown-menu>
    <li><a href="right_item_1">Right item 1</a></li>
    <li><a href="right_item_2">Right item 2</a></li>
    <li><a href="right_item_3">Right item 3</a></li>
  </ul>
</div>

<!-- "wider" top-bar menu for 'medium' and up -->
<div id="widemenu" class="title-bar">
  <div class="title-bar-left">
    <span class="title-bar-title">How 2 foundation6</span>
  </div>
</div>
