<div class="callout">
  <ul class="menu vertical">
    <li><a href="#"><i class="fi-social-github"></i>ChangeLog</a></li>
  </ul>
  <hr>
  <ul class="menu vertical">
    <li class="menu-text">GETTING STARTED</li>
    <li><a href="#">Installation</a></li>
    <li><a href="#">Starter Projects</a></li>
    <li><a href="#">Compatibility</a></li>
    <li><a href="#">Accessbility</a></li>
    <li><a href="#">Kitchen Sink</a></li>
    <hr>
    <li class="menu-text">SETUP</li>
    <li><a href="#">Global Styles</a></li>
    <li><a href="#">Right-to-Left Support</a></li>
    <li><a href="#">Flexbox</a></li>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Javascript Utilities</a></li>
    <li><a href="#">Media Queries</a></li>
    <hr>
    <li class="menu-text">GENERAL</li>
    <li><a href="#">Grid</a></li>
    <li><a href="#">Flex Grid</a></li>
    <li><a href="#">Forms</a></li>
    <li><a href="#">Visibility Classes</a></li>
    <li><a href="#">Float Classes</a></li>
    <hr>
    <li class="menu-text">TYPOGRAPHY</li>
    <li><a href="#">Base Styles</a></li>
    <li><a href="#">Helper Classes</a></li>
    <hr>
    <li class="menu-text">CONTROLS</li>
    <li><a href="button.html">Button</a></li>
    <li><a href="#">Button Group</a></li>
    <li><a href="#">Close Button</a></li>
    <li><a href="#">Slider <span class="secondary label">JS</span></a></li>
    <li><a href="#">Switch</a></li>
  </ul>
</div>
