{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        {{> header}}
        <!-- original content goes in this container -->
        <div class="off-canvas-content" data-off-canvas-content>
          {{> search_form}}
          <div class="row expanded">

            <div class="medium-5 large-3 columns">
              {{> sidebar_left}}
            </div>

            <div class="medium-7 large-6 columns">
              {{> body}}
            </div>

            <div class="medium-6 medium-centered large-3 columns">
              {{> sidebar_right}}
            </div>
          </div>
        </div>

      <!-- close wrapper, no more content after this -->
      </div>
    </div>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
